# Ignore junk files
.DS_Store
Thumbs.db
*.dbmdl
*.Publish.xml
*.swp
*.swo
*.swl
*.swm
*.swn
*.suo
*.scc
*.vspscc
*.user
*.cache
*.log
*.rdl.data
*.tmp
*.pfx

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults